* {
    margin: 0px;
    padding: 0px;
}

.head {
    height: 94px;
    background-color: antiquewhite;
    display: inline-block;
}

body {
    background-color: antiquewhite;

}

#logo {
    width: 50px;
    padding: 12px
}

#bajao {
    margin-left: -30px;
    margin-bottom: -20px
}

#but1
{
    float: right;
    margin-top: 35px;
    margin-right:60px;
    height: 25px;
    border-radius: 4px;
    width: 80px;
    
}

#but1:hover {
    background-color: skyblue;
    cursor: pointer;
  }

.navbar ul {
    display: flex;
    list-style-type: none;
    float: right;
    margin-right: 102px;
    margin-top: -43px;
    font-size: 23px;

}

.container {
    height: 490px;
    /* display: flex; */
    background-color: black;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 70%;
    margin: 0px auto;
    border-radius: 12px;
    padding: 20px;
    padding-right: 0;
    padding-top: 7px;

}

.container img {
    height: 512px;
    float: right;
    margin-top: -506px;
    border-radius: 13px;
    width: 444px;
}

.songList {
    width: 390px;

}

.bottom {
    bottom: 0;
    position: fixed;
    height: 100px;
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.icons {
    margin-top: 15px;

}

.icons i {
    cursor: pointer;
}

#myProgressBar {
    width: 80vw;
    text-align: center;
    cursor: pointer;
}

.container .songList div img {

    width: 50px;
    height: 50px;
    margin-top: 0px;
    border-radius: 50px;
    margin-left: 5px;

}

.container .songList div {
    margin-top: 12px;
    padding-top: 1px;
}

.songItem {
    height: 50px;
    display: flex;
    background-color: white;
    width: 100%;
    color: black;
    margin: 12px 0;
    align-items: center;
    justify-content: space-between;
    border-radius: 25px;
    margin-top: 7px;
    cursor: pointer;
}

.songInfo {
    position: absolute;
    left: 10vw;
}

.songInfo img {
    opacity: 0;
    transition: opacity 0.2s ease-in;
}

.fa,
.far,
.fas {
    font-family: "Font Awesome 5 Free";
    margin-right: 10px;
}

@media screen and (max-width: 1090px) {

    .container img {
        display: none;
    }
}

/* Albums CSS */

.heading {

    text-transform: capitalize;
    font-weight: 400;
    font-size: 30px;
    margin-top: 28px;
    padding-left: 40px;
    font-family: cursive;
}

/* playlists card */

.playlists-group {

    width: 100%;
    min-height: 200px;
    height: auto;
    display: flex;
    flex-wrap: nowrap;
    place-content: space-around;
    padding-top: 45px;



}

.playlist-card {
    flex: 0 0 auto;
    width: 300px;
    height: 300px
}

.playlist-card-img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 20px;
}

.playlist-card-name {
    width: 100%;
    text-align: center;
    font-size: 20px;
    padding: 5px;
    font-family: cursive;
}

.albums {
    height: 500px;
    width: 100%;
    border-radius: 12px;
}

#time {
    margin-left: -1170px;
    margin-top: -65px;
    position: absolute;
}

.qr {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    margin-top: 1475px;
    height: 465px;


}

.qr img {
    height: 300px;
    width: 300px;
    margin-top: 70px;
    padding-bottom: 15px;

}



.container_2 {
    position: relative;
    width: 320px;
    margin: 100px auto 0 auto;
    perspective: 1000px;
    height: inherit;
    padding-top: 58px;
}

.carousel {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    animation: rotate360 60s infinite forwards linear;
    margin-top: 26px;
    cursor: pointer;
}

.carousel__face {
    position: absolute;
    width: 300px;
    height: 187px;
    top: 20px;
    left: 10px;
    right: 10px;
    background-size: cover;
    display: flex;
    color: white;
}


.carousel__face:nth-child(1) {
    background-image: url("https://media.istockphoto.com/photos/transistor-radio-receiver-on-wood-table-in-home-interior-3d-picture-id1139509180?k=20&m=1139509180&s=170667a&w=0&h=um2FQ0eG_g78mqr-yXYlHQFtIYr198fvAvckn7zvLvk=");
    transform: rotateY(0deg) translateZ(430px);

}

.carousel__face:nth-child(2) {
    background-image: url("https://www.greatandhra.com/newphotos10/kgf2_101649933206.jpg");
    transform: rotateY(40deg) translateZ(430px);
}

.carousel__face:nth-child(3) {
    background-image: url("https://www.sundayguardianlive.com/wp-content/uploads/2018/02/6S4A0251.jpg");
    transform: rotateY(80deg) translateZ(430px);
}

.carousel__face:nth-child(4) {
    background-image: url("https://www.iwmbuzz.com/wp-content/uploads/2021/09/best-composer-duo-of-versatile-singer-ajay-atul-from-agneepath-to-sairat.jpg");
    transform: rotateY(120deg) translateZ(430px);
}

.carousel__face:nth-child(5) {
    background-image: url("genres/4.jpg");
    transform: rotateY(160deg) translateZ(430px);
}

.carousel__face:nth-child(6) {
    background-image: url("https://www.worthy.com/blog/wp-content/uploads/2017/02/being-alone-without-being-lonely.jpg");
    transform: rotateY(200deg) translateZ(430px);
}

.carousel__face:nth-child(7) {
    background-image: url("https://im.idiva.com/content/2020/Nov/Identify-These-Classic-Black-And-White-Bollywood-Songs-From-Their-Stills_THUMB_5face88547e95.jpg");
    transform: rotateY(240deg) translateZ(430px);
}

.carousel__face:nth-child(8) {
    background-image: url("https://media.istockphoto.com/photos/tablas-on-white-table-with-gray-mottled-background-picture-id92402606?k=20&m=92402606&s=612x612&w=0&h=6Q0m3tEa9f8nI265mnAgY3R_0oHg_RY8-wr3WwNEHqU=");
    transform: rotateY(280deg) translateZ(430px);
}

.carousel__face:nth-child(9) {
    background-image: url("https://www.geo.tv/assets/uploads/updates/2023-01-13/464755_7010323_updates.jpg");
    transform: rotateY(320deg) translateZ(430px);
}



@keyframes rotate360 {
    from {
        transform: rotateY(0deg);
    }

    to {
        transform: rotateY(-360deg);
    }
}